# Backend
backend/.env
backend/bin/
backend/tmp/
backend/*.exe

# Frontend
frontend/.env
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.vite/

# Scripts
update_repo.bat
update_repo.sh

# General
.DS_Store
*.log
